{% extends 'review/base.html'%}
{% load static %}

{% block content %}
<!-- 全画面をmarginとpaddingで無理やりやっているので、要修正 -->
<header class="bg-primary text-white">
    <div class="container px-4 text-center">
        <h1 class="fw-bolder">Rish</h1>
        <p class="lead english mb-5">This website can help your course registration</p>
        <div class="row gx-4 justify-content-center">
            <!-- ブレークポイントをlgに指定 -->

            <div class="col-lg-8">
                <form action="{% url 'search:result' %}">
                    <div class="input-group px-5">

                        <input type="text" name="query" value="{{ request.GET.query }}" class="form-control shadow-sm"
                            placeholder="講義名あるいは教員名を入力してください" id="keyword" autocomplete="off" method="get">
                        <span class="input-group-btn">
                            <!-- 検索の一覧ページを返す -->
                            <button type="submit" class="btn btn-secondary">
                                <i class="fa-solid fa-magnifying-glass"></i></button>
                            <!-- <i class="fas fa-search fa-lg"></i> -->
                        </span>

                    </div>
                </form>
            </div>

        </div>
        <!-- row-cols-○で一行の列の数を固定する -->
        <div class="row row-cols-4 justify-content-center mt-5">
            <div class="col-auto">
                <a class="btn btn-lg btn-slide bgleft" href="{% url 'review:review-create' %}"><span>Evaluate your
                        class!</span></a>
            </div>
        </div>
    </div>
</header>

<!-- Search window section-->
<section class="bg-light search" id="search">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>"{{ request.GET.query }}"の講義評価</h2>
                <p class="lead description text-muted">{{ review_list | length }}件のレビュー</p>
                <hr>


                <!-- 'shadow p-3 mb-5 bg-white rounded'で影を指定 -->
                {% if review_list %}
                {% for review in review_list %}
                <div class="card shadow mb-4 rounded">
                    <div class="card-header bg-primary">
                        <h5 class="mt-2 text-light">{{ review.class_info.name }}</h5><small
                            class="card-title text-light">
                            {% for teacher in review.teacher.all %}{{ teacher.name }}
                            {% endfor %} - {{ review.year }}/{{ review.season }}/
                            {{ review.class_info.subject_class }}({{ review.class_info.subject_detail }})
                        </small>
                    </div>
                    <div class="card-body mt-0">
                        <p class="card-text text-truncate">
                        <div class="container">
                            <div class="row">
                                <div class="col">
                                    <small class="badge bg-light text-dark">単位取得難易度：</small> <span class="star5_rating"
                                        data-rate="{{ review.credit_difficulty }}"></span>
                                </div>
                                <div class="col">
                                    <span class="badge bg-light text-dark">講義の質：</span> <span class="star5_rating"
                                        data-rate="{{ review.quality }}"></span>
                                </div>
                            </div>
                        </div>

                        <hr>
                        <div class="container">
                            <p class="badge bg-light text-dark col">出席確認：
                                {{review.attendants_check_frequency}}
                            </p>
                            <p class="badge bg-light text-dark col">採点方法：
                                {% for scoring_method in review.scoring_method.all %}
                                {{ scoring_method.name }}
                                {% endfor %}</p>
                        </div>
                        <div class="container">
                            {% if review.opinion %}
                            <p class="bg-light text-dark">
                                {{ review.opinion }}
                            </p>
                            {% else %}
                            {% endif %}
                        </div>
                        <div class="container">
                            {% for tag in review.tag.all %}
                            <p class="badge bg-light text-dark col rounded-pill">
                                {{tag.name}}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div>
                    <div class="row row-cols-4 justify-content-center mt-5">
                        <p>検索結果はありません。</p>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>

    </div>
</section>
{% endblock content %}