{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h2>{% trans "Password Reset" %}</h2>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<br>
<div class="justify-content-center ">
    <p>パスワードを再発行する場合は、下記にRishに登録したメールアドレスを入力してください。<br>パスワード再設定のメールをお送りします。</p>
</div>
<br>


<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}
    <label for="id_email">メールアドレス:</label>
    <input type="email" name="email" placeholder="メールアドレス" autocomplete="email" required="" id="id_email"
        class='form-control'>
    <input type="submit" value="{% trans 'Reset My Password' %}"
        class="primaryAction d-grid col-4 mx-auto mt-5 btn btn-primary" />
</form>




{% endblock %}