{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block content %}


<h2>{% trans "Password Reset" %}</h2>

{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}
<br>
<div class="justify-content-center ">
    <p>パスワード再発行のメールをお送りいたしましたので、ご確認のほどよろしくお願いします。
        <br>
        しばらく経っても届かない場合はお手数をおかけしますが、
        <a href="{% url 'review:home' %}#contact">お問い合わせ</a>の程、よろしくお願いいたします。
    </p>
</div>
<br>


{% endblock %}