{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<h2>{% trans "Set Password" %}</h2>

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    <p>
        <label for="id_password1">新しいパスワード:</label>
        <input type="password" name="password1" placeholder="新しいパスワード" autocomplete="new-password" required=""
            id="id_password1" class="form-control">
    </p>
    <p><label for="id_password2">新しいパスワード（再入力）:</label> <input type="password" name="password2"
            placeholder="新しいパスワード（再入力）" required="" id="id_password2" class="form-control"></p>

    <input type="submit" name="action" value="{% trans 'Set Password' %}"
        class="primaryAction d-grid col-4 mx-auto mt-5 btn btn-primary" />
</form>
{% endblock %}