{% extends "account/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<h2>{% trans "Change Password" %}</h2>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    <p>
        <label for="id_password1">新しいパスワード:</label>
        <input type="password" name="password1" placeholder="新しいパスワード" autocomplete="new-password" required=""
            id="id_password1" class="form-control">
    </p>
    <p><label for="id_password2">新しいパスワード（再入力）:</label> <input type="password" name="password2"
            placeholder="新しいパスワード（再入力）" required="" id="id_password2" class="form-control"></p>

    <button type="submit" name="action" class="primaryAction d-grid col-4 mx-auto mt-5 btn btn-primary">
        {% trans "Change Password"%}</button>
    <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>

{% endblock %}