{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

<h2>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
</h2>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
    Please request a
    <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
</p>
{% else %}
{% if form %}
<br>
<form method="POST" action="{{ action_url }}">
    {% csrf_token %}
    <p>
        <label for="id_password1">新しいパスワード:</label>
        <input type="password" name="password1" placeholder="新しいパスワード" autocomplete="new-password" required=""
            id="id_password1" class="form-control">
    </p>
    <p><label for="id_password2">新しいパスワード（再入力）:</label> <input type="password" name="password2"
            placeholder="新しいパスワード（再入力）" required="" id="id_password2" class="form-control"></p>

    <input type="submit" name="action" value="{% trans 'change password' %}"
        class="primaryAction d-grid col-4 mx-auto mt-5 btn btn-primary" />
</form>
{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}

{% endblock %}