{% extends 'review/base.html'%}
{% block content %}
<main>
    <section class="bg-light logIn" id="logIn">
        <div class="container px-4">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="container px-4">
                        <h2>お問い合わせ</h2>
                        <p class="mt-5">パスワードを忘れた場合はお手数をおかけしますが、以下のメールアドレスまでお問い合わせをお願いします。</p>
                        <ul>
                            <li>担当：Rish開発担当</li>
                            <li>メールアドレス：rish.ryukyu@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
    </section>


</main>

{% endblock %}